
---
import Layout from '../../components/Layout.astro';
---

<Layout title="down from the mountains">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>down from the mountains</h1>
        <h2>
           accompanied by hops
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 30ish miles
<br>
Climbing: 1460 feet
<br>
Descending: more
<br>
Difficulty: medium-low
<br>
<a href="https://www.strava.com/activities/14528906125">Link to workout in Strava</a>
<hr>
<a href=https://q42.me/trips/slovenia/day13-countryside.jpg><img src=https://q42.me/trips/slovenia/day13-countryside-small.jpg></a>


<p>
Kicked around reading my book for quite awhile yesterday since we had such a short ride.  The forest camp was quite a nice place to hang out though, even in the rain - with covered comfortable seating, and beers for sale.  Probably it would be less nice in case it was busier - there were room for at least 100 more groups! - but we had the place almost to ourselves.  We had forgettable pizza for dinner at one of the few restaurants in the area; almost no others were open past 7pm on a Sunday, before tourist season had kicked in at least!
<p>
Got up this morning and got ready to go and got a kinda stern lecture from Jeff about needing to show my appreciation more.  He sometimes doesn't listen when other people talk - the half dozen times I've said thank you with great feeling, for instance - nor was he interested in "arguing about it" so I just decided I'd have to speak the language that matters to him and will start buying him meals, and also promised to give him money to fix up the bike I'm borrowing after I'm gone.  I am trying to focus on the joy that discovering Slovenia has given me rather than the crap he made me feel like in what I consider an unfair way, since there's little to be gained by wallowing or dwelling on it, and I have to spend the next few days with him no matter how I feel.  Upon reflection, it's better to hear these things directly than be left wondering why someone is secretly/quietly upset with me, so while I felt bad for the rest of the day, in retrospect, it was good that he cleared the air about how he was feeling.
<p>
<a href=https://q42.me/trips/slovenia/day13-bikepath.jpg><img src=https://q42.me/trips/slovenia/day13-bikepath-small.jpg></a>
<p>
We nonetheless had a great ride today, some short highway riding on the way out of town before a long bike path most of the way into Valenje, a very bike-infrastructure-y city we passed through around brunch time.  There I bought us some coffee and Jeff flirted with some campground owner he met once and likes the look of.  But I look forward to maybe exploring Valenje on my own sometime if I come back; it seemed like an interesting juxtaposition of recreation and industrial areas, since it also has a huge coal plant, digging the coal for which created a beautiful lake along which we rode into and out of town.
<p>
<a href=https://q42.me/trips/slovenia/day13-naked.jpg><img src=https://q42.me/trips/slovenia/day13-naked-small.jpg></a>
<p>
<i>Guess they'd prefer you to be naked if you are gonna hang out here.  No rules against bike clothes though!</i>
<p>
<p>
After that we turned straight uphill, on a less traveled road that wound through some pretty countryside.  I'm torn about going that way if I return since it was pretty, but it was also a bit indirect and rather steep.  With only 1400 feet of climbing, it was over fairly quickly but if it were raining or hotter I could imagine it being annoying to push a non-e-bike up that hill.  Good views from the top, though;  Jeff says it's another one of his top 5 routes in Slovenia, and while I wouldn't argue with the last one he called that, this one was good but maybe not great?  I'll think on it some more.
<p>
<a href=https://q42.me/trips/slovenia/day13-greengold1.jpg><img src=https://q42.me/trips/slovenia/day13-greengold1-small.jpg></a>
<a href=https://q42.me/trips/slovenia/day13-greengold2.jpg><img src=https://q42.me/trips/slovenia/day13-greengold2-small.jpg></a>
<p>
<a href=https://q42.me/trips/slovenia/day13-beers.jpg><img src=https://q42.me/trips/slovenia/day13-beers-small.jpg></a>
<p>
Dropping down into a town, we (intentionally) passed Green Gold brewery, one of Jeff's favorites - and the staff there certainly do like him!  They plied us with beer both to drink there and to take with and their art is...certainly distinctive.  You can see a couple of their works above, and some more pictures in <a href="https://photos.app.goo.gl/n64phYFmB4n9dg3Y6">the gallery</a>.  Regardless, it was a very kind crew that welcomed us back from the country and also saved us from eating mediocre food - as they established that the best restaurant within some miles was surprisingly open today despite our assumption it would be closed for a monday.
<p>
<a href=https://q42.me/trips/slovenia/day13-lunch.jpg><img src=https://q42.me/trips/slovenia/day13-lunch-small.jpg></a>
<p>
We stopped and ate at Franci restaurant and indeed lunch was quite good.  Jeff and I were both pretty beered up still from the brewery stop but had another with lunch.  My lunch was a "traditional" roast pork leg (but really just slices of meat), and a bean salad that was frankly the star of the show, featuring much pumpkin seed oil, a local specialty.  I paid for our lunch and then we rolled into town to the beer fountain - a place with 6 self-serve public taps where you buy an RFID-activated glass mug, and can choose which beers to pour and drink.  We tried all 6 (they were a few ounce pours so we didn't get much drunker).  On the way out we stopped for a few trains to pass before some brief busy highway riding, during which I managed to drop my chain (only time the entire trip!) on an uphill with a fair amount of traffic right behind me.  Kinda bummer timing, but fortunately there was a place to pull off and fix, and we exited the highway soon after.  
<p>
<a href=https://q42.me/trips/slovenia/day13-beerfountain.jpg><img src=https://q42.me/trips/slovenia/day13-beerfountain-small.jpg></a>
<p>
Did some urban riding into Celje - one of the largest Slovenian cities, though I'd call it a large town in the states - where we cruised into a hostel Jeff knows the owner of.  We dropped our bikes and our stuff, met Jeff's friend to say hi, and went wandering around town in the sunny late afternoon.  Central town is carfree and a little cute, but Jeff wanted more beer and I didn't (and was frankly still feeling a bit peeved about the talk that morning and wanted some alone time), so we split up and I spent awhile sitting and people watching near the river and walking around downtown before heading back to a shower and writing this.
<p>
<a href=https://q42.me/trips/slovenia/day13-riverside.jpg><img src=https://q42.me/trips/slovenia/day13-riverside-small.jpg></a>
<p>
Slovenia is beautiful, people are kind, but I will still be glad to be home and have more space to myself...
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
