
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Rock stars">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Rock stars</h1>
        <h2>
           countryside with a city finish
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 52mi
<br>
Climbing: 3438 feet
<br>
Descending: more
<br>
Difficulty: higher than normal for this trip, but not too bad
<br>
<a href=https://www.strava.com/activities/14427098118>Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/n64phYFmB4n9dg3Y6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Woke to a drizzly morning - we'd been hoping for cloudy but dry. Had a kinda slow roll out of our glampground where we had stayed a pleasant two nights, our only double stay of the trip.  Rode though the cool fog and never enough moisture to do more than make us damp, all morning.
<p>
Our route retraced a bit of my yesterday before turning east towards Novo Mesto.  Lots of countryside, cute but similar houses in little hamlet groups, and a few medium traffic streets before we got into town where traffic really picked up, and we flew past the backed up cars on the sidewalk to get to the car-free town square where the hostel is.  Jeff's saddle was effectively broken and his battery was weak so he had an uncomfortable and slow ride, but my ride was pretty smooth, at least after I sorted out my rack causing loud and worrisome rubbing on my tire that persisted for the first 20 miles of our morning.  Riding with borrowed gear I haven't set up and become intimately familiar with is one of the biggest challenges of this trip.  I like to trust my gear but I don't trust this gear.  It's working ok so far, fortunately.
<p>
Last night I was telling Jeff that this ebike is surprisingly fun; I had expected a more boring/making due/utilitarian situation, but it is very nice to arrive sooner, less tired, and to grumble less about uphills.  However, I am thinking maybe e-bike is a little like antidepressants, smoothing out the lows but also dampening the highs of downhills unearned, and missing the Strava credit for miles pedaled in my quest for higher annual mileage this year.  I don't really know what antidepressants are like, but a friend once suggested her Zoloft kinda muffled all the extreme feels and I naively think that maybe ebike touring has a tinge of something like that compared to the sweaty struggles and relieved strong triumphs of my analog bike.  On  the third hand, I would have taken more than twice as long to make most of the rides we've done so far on it...
<p>
Once we got into town and teporarily resolved (pending a later chat with the owner once he arrived) a reservation snafu at the hostel, we then hurried to the bike shop to get Jeff a new saddle, sitting at a nearby bar while they also adjusted his wheel.  We sampled some of the boring "local" lagers (owned by Heineken and tasting rather like it), then rolled to the train station to grab tickets for an early train tomorrow, while we checked out town and stopped in some shops.  If I were traveling alone I probably wouldn't see half as much and might talk to 1/4 as many people (at most) as I do with Jeff - since he's forever poking his nose into everything and talking to anyone who doesn't look away fast enough.  An intense friendliness, I'd say the man has.
<p>
Never thought of making my own radler before but am having one made by bartender now and it's delightfully pulpy and sweet! Dinner pizza was pretty good, similar to what I can make in the pizza oven at home, though I've never tried creamy horseradish as a topping before so that'll have to go into rotation since it was really good.  Might have been better if I'd spread it around rather than thinking it was ricotta and eating most of the glop of it in a single bite ;D
<p>
After dinner we meet the hostel owner to sort out where to park our bikes and he apologized for the snafu with our reservation by giving us some free beer and we drank it and chatted with the band who'd play the show we were going to see later who happened to be dining there.
<p>
We headed down to the show where Jeff knew some folks and introduced me, including unexpectedly the campground owner of a place we are going to stay in a week!  Yuri was more than thrilled to see us and seems excited to show us some hospitality once we get to his place in 7 days.  My favorite conversation was with the bassist from the band who made sure I knew that Slovenia "doesn't have it all figured out either", but I liked him and his energy. The mechanic from the bike shop was also at the show so we sat around and chatted with him for a few minutes before the band kicked off.
<p>
It was a pretty lively show, and though about 1/4 of the songs were in Slovenian, the rest were in English and the band was fun and played well and the sound was great, despite the bassist's stated fear that the sound was crap from their sound check.  Putting a couple hundred folks into a space changes the sound a bit, I think.  Did a fair amount of bouncing on tired legs, and watched some kids really dance hard in front of us including some impromptu but fairly good breakdancing.
<p>
2 hours later we're stumbling back to the hostel and collapsing for 5ish hours of sleep before train time!

<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
