
---
import Layout from '../../components/Layout.astro';
---

<Layout title="peaks and valleys">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>peaks and valleys</h1>
        <h2>
           over the mountain and through the woods
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 22 + 12 mi
<br>
Climbing: 2431 feet
<br>
Descending: more!
<br>
Difficulty: medium low
<br>
<a href=https://www.strava.com/activities/14433545915>Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/n64phYFmB4n9dg3Y6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Had quite an early morning wakeup call after a late night, but we got up quickly, and packed with minimum fuss, rolled to early train with plenty of time to spare. Got first breakfast at bakery that happened to be unexpectedly open as we passed on the way to the station.  Would have been a donut shop in the US but this place had sausage rolls and burek and croissants and coffee.
<p>
Caught a nice train for a 3 hour ride.  Transferring in the middle was quite a hassle dragging up and down stairs since the elevator at the station had an elevator too small for bikes! Due to the time it took to wrangle our loaded bikes down and back up onto the correct platform, we'd almost missed our connection which was leaving only a few minutes after we arrived - but Jeff was the hero, running up to the other platform and getting them to hold the train just for us.  It was a pretty empty train all the way to the end of the line where we got off.
<p>
Had second breakfast in Kocevje; was a nice mini buffet.  Chatted for awhile with Clemon the owner about running a business and work life balance, then left Jeff watching his basketball game on his tablet while I put some effort into understanding, then adjusting my front rack to keep it off the fender whose pressing into the tire is what has been causing the rubbing yesterday and again today - slipped back into contact after getting abused up/down the train station stairs. 
<p>
Finally around 1030 we headed out of town onto less and less busy roads, always turning away from traffic and uphill;  we topped out at 3200 feet today and had a fair amount of climbing en route.  But oh how basically easy the ebikes made it!
<p>
In the end we reached the top of Strma Reber Pass , grades of up to 12  percent for quite awhile...would have been a real struggle likely with some pushing on a loaded analog touring bike (maybe could ride it unloaded, slowly?)...was better bombing down on the far side where grades exceeded 18% at times!  ZOOM ZOOM.
<p>
Pulled into the hotel and owner Simon and Jeff caught up and Simon insisted we drink some very herbal schnapps shots which we did before getting our tents set up and having a beer on the sunny patio.
<p>
We then sampled the pool/hot tub/sauna/showers, pretty amazing setup here and dozens of other folks were enjoying the saunas as well.  We killed a few hours before a very reasonably priced but very filling dinner - I had pasta carbonara and some squids stuffed with bacon and cheese, and a radler.  It was by this point 730pm or so but the sun was still filling the valley so we took our unloaded bikes on a 6mi ride up the valley - the opposite direction from where we are going tomorrow up the river valley that divides Croatia and Slovenia - we could have shouted over or thrown a rock at Croatia for most of the 6 miles!  Stopped at a scenic overlook that Jeff knew about to watch the sunset, then zoomed back into camp along with dusk.
<p>
It's pretty amazing country out here.  Excited to bike into Croatia tomorrow as our route along basically the only road zigzags over the (uncontrolled now that Croatia just joined the EU!) border for about 50 miles past some cool spots.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
