
---
import Layout from '../../components/Layout.astro';
---

<Layout title="more mountain fun">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>more mountain fun</h1>
        <h2>
           ups and downs, but mostly downs
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 38 mi
<br>
Climbing: 2766 feet
<br>
Descending: more!
<br>
Difficulty: medium
<br>
<a href="https://www.strava.com/activities/14509341439">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/n64phYFmB4n9dg3Y6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
woke in the hotel with a plan to eat and then head up to a waterfall hike.  Waterfall was casually 300+ feet tall and at the end of the road in the valley we were staying in.  Ride up to it was +600' in 2 miles so a bit stiff (ebike made it pleasant), then we hiked up 15min to the falls.  There was more hiking to do if we wanted but it was enough to get there.  amazingly, there was  coffee shop up at the falls - up a super steep hiking trail?  The barista mentioned that she hikes up with a backpack full of beer to restock; it was  a super steep (15 minute) hike.  I had a tea with rum and it was only 5 bucks, despite having to be hiked in?  I would have paid extra for the convenience but somehow that doesn't seem to be a thing in this country...
<p>
We then rode back down, picking up our stuff from the hotel (the road to the falls went up the valley and ended, so the first part of our ride was out and back), and said our goodbyes to very gracious host Nina who had insisted on feeding me multiple free strudels during my stay.  I will not return to the states any lighter than I left!
<p>
We cruised steadily downhill through the valley to a dumpling restaurant, where I also finally got to try the local soda, "Cockta" which is pretty herbal in comparison to Coca-cola.  I like it!  It was sprinling when we left the hotel so we'd been rain-geared up, but we geared down since now it was time to climb!
<p>
The short route to the campground was about 8 miles;  we took a 20-ish mile "gratuitous" climb instead.  But, Jeff kept saying - "top 5 ride in Slovenia" and he'd taken me on one of my other top5 rides during our Death Valley tour in a box canyon in South California, and batteries make climbs easy...so up we went!  During the lower part of the climb, a lycra-clad local cycling team passed us and we never did catch them despite being battery powered.  Then the climb kicked up - 12% at times - and I struggled in my lower battery setting trying to get a bit of a workout.  I got one;  sweated it up to the top, where it had started sprinkling again but Jeff was waiting at the bar so we had a mountaintop beer before heading essentually 16mi downhill.  There was traffic so we kept pulling off and waiting to get enough room to be able to coast-zoom downhill.
<p>
We got into a medium-sized town and Jeff went looking for an ATM but we ended up across the street from the largest church in Slovenia, so I went and took a peek.  It was holy-lookin'.
<p>
We coasted the rest of the way into the campground, riding the bike route but the roads were comically small - hard to tell apart from driveways - but also no traffic, so it was quite a pleasant ride into the campground, owned by friend-of-Jeff.
<p>
We paid and setup camp and found said owner who welcomed us gleefully and sent over schnapps for us to drink;  we had dinner and later there will be a bonfire...
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
