

---
import Layout from '../../components/Layout.astro';
---

<Layout title="The hills are alive">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>The hills are alive</h1>
        <h2>
           ...with the sound of a chain in need of grease
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 15 mi
<br>
Climbing: 1293 feet
<br>
Descending: less
<br>
Difficulty: medium low
<br>
<a href=https://www.strava.com/activities/14465736093>Link to workout in Strava</a>
<hr>
<p>
<a href=https://q42.me/trips/slovenia/day7-pano.jpg><img src=https://q42.me/trips/slovenia/day7-pano-small.jpg></a>
<p>
Noticed this morning that I'd worn though a second pair of pants in the same spot as the first.  Guess this saddle hits me rather different than my own!  I guess I'm down to only jeans and shorts without holes, which is kinda a bummer since that's both pairs of "might rain" pants I like to wear while biking worn out...but I can probably still ride a day or two in the holy pants - perhaps at the expense of wearing a hole in my undies too?  I already have a hole in my butt (bad joke). Love both pairs of pants so hoping I can get them repaired back in Portland. 
<p>
Last night I had a brief WW1 museum visit & then we did a mini bar crawl (both bars in town carried one microbrew that we wanted to sample, so we did), and finally ended at an amazing dinner at the second most expensive restaurant in town.  My crowning achievement was buying us both desserts, which we enjoyed substantially.  Got back to camp and had one more beer &  had a long phone call with a friend who needed advice then conked out quickly. 
<p>
<a href=https://q42.me/trips/slovenia/day7-hikefalls.jpg><img src=https://q42.me/trips/slovenia/day7-hikefalls-small.jpg></a>
<a href=https://q42.me/trips/slovenia/day7-hiketrail.jpg><img src=https://q42.me/trips/slovenia/day7-hiketrail-small.jpg></a>
<a href=https://q42.me/trips/slovenia/day7-slimer.jpg><img src=https://q42.me/trips/slovenia/day7-slimer-small.jpg></a>
<p>
Woke early to hang tent to dry and had oatmeal for breakfast...today marks the first time Jeff took out the stove all trip long (we'd cooked in the restaurant kitchen our two nights at Bloke)!  I was up early to take a gorgeous gorge hike - very reminiscent of Oneonta gorge back near Portland, which is sadly closed indefinitely now.  Also saw some historic WW1 trenches that were along the hike-way.  Took some pictures of it if you want to see more...
<p>
<a href=https://q42.me/trips/slovenia/day7-riding.jpg><img src=https://q42.me/trips/slovenia/day7-riding-small.jpg></a>
<p>
Our bike ride was a relateively short day though the mountains to Bovec, which we set out on moderately late (post hike, post packing up) after picking up some focaccia sandwiches for lunch.  The ride was through a mountain valley next to this amazingly blue river - looks glacier fed to me though I haven't done any research to substantiate this.  While the road was a little fast, it wasn't busy, and some construction zones of one-way traffic meant that for the most part, traffic came in waves rather than constantly, which is a bit easier to anticipate/handle.
<p>
<a href=https://q42.me/trips/slovenia/day7-lunchstop.jpg><img src=https://q42.me/trips/slovenia/day7-lunchstop-small.jpg></a>
<p>
<i>Lunch stop</i>
<p>
We pulled off in a scenic spot - there are many picnic tables along this scenic route - and ate our sandwiches with a million dollar view.  Also peed with a million dollar view, which is always quite satisfying.
<p>
Shortly after lunch a van that passed us rolled down its window and pointed at my back wheel and yelled something; I couldn't understand what they said but immediately started checking out the back part of my bike wondering if something was loose or wrong...and indeed, my kickstand was still down.  I hate kickstands, but this bike has one and I use it sometimes and sometimes - like this evening - it fails me, the bike falls over, and I regret it.  But fortunately this bike's kickstand is pretty far back from the pedals so I can ride with it down and could kick it up without stopping, even as we cruised along at fairly high speed through the valley.
<p>
Shortly thereafter, we turned off the highway onto the back bikeway into Bovec and stopped by an MTB rental/canyoning outfitter; I'll have to go canyoning (ropes, rafting, other mountain adventures all squished together I guess?) if I come back because it is a mainstay of the area and would surely get me out into even yet still more beautiful country.
<p>
The campground was one that Jeff knew, and one that knew Jeff, so we got a discount and rolled down to the tent area where we are the only ones here - we are a bit pre-season for the area it seems.  Set up camp quickly, and the sun was blazing so we dried out our damp things a bit as we pitched camp.  Jeff was excited to head into town, so we headed back up a steep hill towards town.  About 100 meters into the ride Jeff sees a friend - the owner of the yurt bar and mountain bike rental place - and we stop to talk.  I gather intel about local mountain biking (TL;DR it's pretty early season, snow just finished, so only some trails are open.  But, there are shuttles and lift-served runs around here!)  Jeff discovered something more relevant to this trip:  the pass we planned to take tomorrow is closed every day, 7a-5p - sounds to me like we're going to have to reroute.  Jeff takes the advice in stride while I freaked out a little, but we head into town to have some beers and dinner.
<p>
In town, at the first bar, Jeff calls the tourism office in a town just over the pass and establishes that indeed, no traffic during the days through the pass he was planning to take us through.  Some touring cyclists pull up to stay in the rooms above the bar and tell us they've come the other way and it was quite nice - Rita and her friend confirm low traffic on the route we'll have to (I think) fall back to.  Jeff feels confident we can talk our way through a closure until I remind him of the time that we toured in Oregon together and he talked his way through a closure that a friend and I couldn't talk our way through after him - and had to ride back up a very long hill to route the very long way around.  Jeff is silver tongued and brazen but I am perhaps a bit more meek and accepting of no as an answer.
<p>
We debate it a bit more and Jeff concedes that to be turned back at the pass would torpedo our day - too many miles and feet climbed to reroute AFTER the fact, so we'll have to try the other way, and thus will we unexpectedly ride through Italy tomorrow.  It's less climbing and the same distance, so I'm excited to see how it goes!
<p>
We have another beer at the other bar in town that has microbrews, and wait for a friend of Jeff's who doesn't show up.  But we had a pretty amazing meal, starring the side salad with local goat cheese, pumpkin seeds, and pumpkin seed oil which is a bit of a local delicacy.  Back at the campground now, with a couple beers chilling in the river.  This is pretty great!
<p>
</div>
</main>
<center>you can email me: gently at gmail dot com</center>
</Layout>
