
---
import Layout from '../../components/Layout.astro';
---

<Layout title="from tourist crowds to lonely hillside">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>from tourist crowds to lonely hillside</h1>
        <h2>
           more incredibly river/mountainside riding from town to middle of nowhere
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 26mi
<br>
Climbing: 2460 feet
<br>
Descending: almost none
<br>
Difficulty: easy (battery-powered)
<br>
<a href="https://www.strava.com/activities/14487213707">Link to workout in Strava</a>
<hr>
<p>
<a href=https://q42.me/trips/slovenia/day9-robo.jpg><img src=https://q42.me/trips/slovenia/day9-robo-small.jpg></a>
<p>
<i>There was more than one robo-waiter at this buffet.  They did very little - mostly held dirty dishes deposited on them by the staff.</i>
<p>
Jeff convinced me to try a fancy hotel buffet this morning and it was expensive but comprehensive and tasty and deluxe and gutbusting.  I suppose the gutbusting part was by choice, but I wanted to make sure I got my money's worth since it was the cost of 6-7 bakery breakfasts (here the bakery plays the role of the coffee shop that every town has, except they are routinely full of a dozen+ types of delightful pastries often containing sausage and/or cheese so you can grab a couple and have a good meal out of it.  They usually cost less than 2 for 5 bucks).  At the buffet there were dozens of staff working the place and the linens were very white.  I had some of almost everything at the 2 buffets, and probably 5 drinks since they had a lot of great fruit juice.
<p>
<a href=https://q42.me/trips/slovenia/day9-alps1.jpg><img src=https://q42.me/trips/slovenia/day9-alps1-small.jpg></a>
<p>
After waddling home from the fancy buffet, we packed up and rolled out of the hostel to nearby Radovljica via a scenic but hilly dirt road low traffic route.  Another Jeff-had-found-this-before route special; this one didn't happen to feature heavily on the heatmaps when I thought to check later - but it sure was direct and pleasant.  At the end of it, we found a trainstation and caught the train to Kranj - which is only the second or third city I've seen here.  There are only 2.x million folks in all of Slovenia so the "cities" are no bigger than hundreds of thousands.  Once decanted from the train, we rode up into the valleys again for about 20 miles.  Today I let my battery carry me and didn't work too hard, largely because Jeff couldn't tell me the route he had in mind so I just had to keep up with him.  I don't love that as much as following a route myself at my own pace, riding like I want to rather than only-zoom-zoom.  Sure, I often zoom-zoom even on my own without an agenda, but I guess it's more satisfying since I only get speed by pedalling, usually, and this feels like cheating.  At the end, today was fun and scenic enough, just not much of a workout.
<p>
<a href=https://q42.me/trips/slovenia/day9-alley.jpg><img src=https://q42.me/trips/slovenia/day9-alley-small.jpg></a>
<p>
We were coming out of the city of Kranj for at least 5 miles, suburbs were uniformly cute!  Then we got onto the low traffic valley road and just climbed and climbed, 2000 feet or so, up to Jezersko, with the last part being especially steep as we came into/through town.  Stopped at a market for a beer and a pastry to enjoy with the salmon bagel sandwiches we had picked up from a bbq restaurant (they have great non-bbq breakfast, apparently); we ate by the lake in Jezersko.
<p>
<a href=https://q42.me/trips/slovenia/day9-lunch.jpg><img src=https://q42.me/trips/slovenia/day9-lunch-small.jpg></a>
<p>
<i>Radlers were near-omnipresent in every beer selection, and we were drinking fairly regularly, so it was nice to have a low-proof something to gulp</i>
<p>
Then we continued up to a campground just above town which is quite nice. It's on a working farm, where Jeff knows the owners - they are friends of Jeff's, of course.  Since they are out of town, though, we are just treated like normal campers and not long lost friends, for our stay.  We have some dinner plans with some friends of Jeff's though!
<p>
<a href=https://q42.me/trips/slovenia/day9-alps2.jpg><img src=https://q42.me/trips/slovenia/day9-alps2-small.jpg></a>
<p>
<i>view from the campground</i>
<p>
Tomorrow is a shortish but day but steep again.  Yeehaw!
<p>
<a href=https://q42.me/trips/slovenia/day9-alpselfie.jpg><img src=https://q42.me/trips/slovenia/day9-alpselfie-small.jpg></a>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
