
---
import Layout from '../../components/Layout.astro';
---

<Layout title="from tourist crowds to lonely hillside">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>from tourist crowds to lonely hillside</h1>
        <h2>
           more incredibly river/mountainside riding from town to middle of nowhere
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 26mi
<br>
Climbing: 2460 feet
<br>
Descending: almost none
<br>
Difficulty: easy (battery-powered)
<br>
<a href="https://www.strava.com/activities/14487213707">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/n64phYFmB4n9dg3Y6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
jeff convinced me to try a fancy hotel buffet this morning and it was expensive but comprehensive and tasty and deluxe and gutbusting.  I suppose the gutbusting part was by choice, but I wanted to make sure I got my money's worth - it was the cost of 6-7 bakery breakfasts (here the bakery plays the role of the coffee shop that every town has, except they are full of delightful pastries often containing sausage and/or cheese so you can grab a couple and have a good meal out of it.  They usually cost less than 2 for 5 bucks).
<p>
After fancy buffet, we packed up and rolled out of the hostel to nearby Radovljica via a scenic but hilly dirt road low traffic route, caught the train to Kranj - only the second or third city I've seen here - where we rode up into the valleys again for about 20 miles.  Today I let my battery carry me and didn't work too hard, largely because Jeff couldn't tell me the route he had in mind so I just had to keep up with him.  I don't love that was much as following a route myself at my own pace, riding like I want to rather than zoom-zoom, though it was fun and scenic enough, just not much of a workout.
<p>
We were coming out of the city of Kranj for at least 5 miles, suburbs were uniformly cute!  Then we got onto the low traffic valley road and just climbed and climbed, 2000 feet or so, up to Jezersko, with the last part being especially steep as we came into/through town.  Stopped at a market for a beer and a pastry to enjoy with the salmon bagel sandwiches we had picked up from a bbq restaurant (they have great non-bbq breakfast, apparently); we ate by the lake in Jezersko.
<p>
Then up to the campground just above town which is quite nice, a bit of a working farm though the owners - friends of Jeff's, of course - are out of town so we are just normal campers and not long lost friends, here.  We have some dinner plans with some friends of Jeff's though!
<p>
Tomorrow is a shortish but day but steep again.  Yeehaw!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
