
---
import Layout from '../../components/Layout.astro';
---

<Layout title="more mountain valleys">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>more mountain valleys</h1>
        <h2>
           ...but I'm surely not tired of them yet!
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 18mi
<br>
Climbing: 3000ish feet?
<br>
Descending: similar
<br>
Difficulty: medium-low
<br>
<a href=>Link to workout in Strava</a>
<hr>
<p>
<a href=https://q42.me/trips/slovenia/day10-alpselfie.jpg><img src=https://q42.me/trips/slovenia/day10-alpselfie-small.jpg></a>
<p>
Last night we had pizza dinner with a couple, younger (not quite my age) who are friends of Jeff's: Ajda and Domen.  These were super kind and friendly folks, the kind of people I'd want to have dinner parties and game nights with.  (Many of Jeff's friends are just people he's met that aren't very interested in deep conversation or doing more than saying hi).  This couple was different, just friends as far as I could tell without ulterior motives.  Very smart, spoke rather good English, and more aware of recent American history than I am - despite them being Slovenian natives.  It was fun to have a social time with more than Jeff and Jeff's more commercial friends (the proprietors of restaurants and bars and shops) who we generally chat with for <10 minutes and have much the same conversation with the same jokes every time we stop somewhere.  Jeff has a pretty good spiel and it amuses folks but I'm tired of it and could almost deliver it myself by this point...
<p>
The pizza was pretty good too, and I felt slightly validated when Domen also finished his entire pizza in one sitting and found room for a piece of Jeff's as well, in addition to our two pivos (Slovenian for beers).  Usually I'm eating for two compared to Jeff so it was nice to not be the only overly hungry, fit man at the table.
<p>
Came back to the campground and basically went straight to sleep; I've been sleeping really well in the cool camping nights lately!  Woke up to cows walking past the tent; I was wondering who was rude enough to be stomping around my tent at 6am considering I was intentionally camped far from everything noisy but then I saw hoof from the window and realized it was just nature being itself.
<p>
<a href=https://q42.me/trips/slovenia/day10-jeffstretch.jpg><img src=https://q42.me/trips/slovenia/day10-jeffstretch-small.jpg></a>
<p>
<i>Quite a view for a stretch before our ride!</i>
<p>
Scrubbed and packed and ate a hearty little breakfast served by the farm, tons of little local tastiness and fresh bread and turkish coffee.  Even got some little sandwiches made from the remains and it served me well later when we snacked at a border crossing picnic table not quite yet abandoned to time.
<p>
<a href=https://q42.me/trips/slovenia/day10-springbeard.jpg><img src=https://q42.me/trips/slovenia/day10-springbeard-small.jpg></a>
<p>
<i>This water was quite tasty and we did not filter it, friends!</i>
<p>
We set out pretty much straight uphill, a couple thousand feet to the pass.  Some small traffic on this hill but nothing too terrible, especially considering it was rush-hour type times even though it's hard to say where people would have been commuting to in this direction, since it was pretty much a mountain pass for the sake of coming down the other side without many turn-offs nor villages.  I kept the power intermediate so I got a bit of a workout but it didn't take years to get up to the top.  Jeff had waited for me at the top which was pretty much the Austrian border, we crossed over and bombed down, stopping to grab some water from a wooden carved man who had a fresh mountain spring coming out of his face (yes, there are pictures!)
<p>
<a href=https://q42.me/trips/slovenia/day10-austria.jpg><img src=https://q42.me/trips/slovenia/day10-austria-small.jpg></a>
<p>
Austrian pavement was not as well maintained as Slovenian pavement, but traffic was light as we made the second climb and came back into Slovenia onto the smooth pavement for most of the second downhill.  Stopped to eat at the abandoned border crossing with an amazing view; took the obligatory million-dollar-view piss off the edge of a cliff before continuing the bomb down and turning off into a most beautiful valley where I had lost Jeff and ended up at the wrong hotel but he helpfully sent me a map to the right one, a couple miles further down the road.
<p>
<a href=https://q42.me/trips/slovenia/day10-dessertbliss.jpg><img src=https://q42.me/trips/slovenia/day10-dessertbliss-small.jpg></a>
<p>
<i>"Could you please help us with our strudel problem?  We have too much and it needs to be eaten for free!"  (I obliged twice)</i>
<p>
Pulled up to a friendly lodge in this gorgeous valley with friendly proprietress who chatted with us all evening and morning.  Was immediately given some delightful honey schnapps and a private room for the cost of a shared room.  Had thought about heading back out on a further bike ride, but took a nap in the luxurious double bed in a room of my own, after the first shower in a couple days.  Goofed off on my phone and texted with Lori for a bit before venturing back downstairs to free streudel, more beers, and a sampling of local stews for dinner!  Had to walk off the overeating with a little hike after :)
<p>
<a href=https://q42.me/trips/slovenia/day10-jeffbeer.jpg><img src=https://q42.me/trips/slovenia/day10-jeffbeer-small.jpg></a>
<p>
<a href=https://q42.me/trips/slovenia/day10-dudes.jpg><img src=https://q42.me/trips/slovenia/day10-dudes-small.jpg></a>
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
