---
import Layout from '../components/Layout.astro';
---

<Layout title="European Vacation, Summer 2026">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">

        <h1>European Vacation, Summer 2026</h1>
        <h2>
           Chris and Lori explore Europe with bicycles
        </h2>
      </div>
<p>
<p>
Lori and I will explore Europe, visiting Copenhagen, Amsterdam, Munich, Salzburg, and then riding our bikes south to Croatia before finishing up with some destinations in Italy.  We'll take some trains, ride some bikes, and bring you along when we can by posting here.
<br>
<h3><a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Full photo gallery from this trip</a></h3>
<br>
<!-- 
<p>
<a href=europe26-1>Day 1: </a>
<br>
<a href=europe26-2>Day 2: </a>
<br>
<a href=europe26-3>Day 3: </a>
<br>
<a href=europe26-4>Day 4: </a>
<br>
<a href=europe26-5>Day 5: </a>
<br>
<a href=europe26-6>Day 6: </a>
<br>
-->
<h3>You can read about my other trips <a href="/">on the main page of this site</a></h3>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
