---
import Layout from '../components/Layout.astro';
---

<Layout title="European Vacation, Summer 2026">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">

        <h1>European Vacation, Summer 2026</h1>
        <h2>
           Chris and Lori explore Europe with bicycles
        </h2>
      </div>
<p>
<br>
<h3><a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">You can browse the full photo gallery from this trip</a></h3>
<br>
<p>
In May and June 2026, Lori and I explored Europe, visiting Copenhagen, Amsterdam, Munich, Salzburg, and then riding our bikes south through Slovenia to Croatia before finishing up with in Italy at Lucca, Floence, and Rome.  We'll take some trains, some boats, and ride some bikes, and we'll bring you along in the below trip report.
<p>
<a href="https://q42.me/trips/europe2026/europe2026/day0-airportbike.jpg"><img src="https://q42.me/trips/europe2026/day0-airportbike-small.jpg"></a>
<p>
<i>Lori's packing montage!</i>
<p>
We had some epic travel days going to and from the other side of the planet, and spent about 28 hours flying and in airports between Portland, Seattle, Reykjavik, and finaly Copenhagen on the way out.  We still managed quite a long travel day on the way home too, even though that was only Rome, Seattle, and Portland.
<p>
<a href=https://q42.me/trips/europe2026/day0-iceland-airport-drink.jpg"><img src="https://q42.me/trips/europe2026/day0-iceland-airport-drink-small.jpg"></a>
<a href=https://q42.me/trips/europe2026 day0-iceland-airport-mural.jpg"><img src="https://q42.me/trips/europe2026/day0-iceland-airport-mural-small.jpg"></a>
<p>
<i>Sights from an almost-empty Icelandic airport</i>
<p>
Half of what made the travel so hard was that we took our bikes, and had to lug bike boxes through airports and across the sidewalks of Rome, and we also had hours of fun getting the bikes packed on our own in Rome.  But, spoiler alert: everything with the bikes worked out fine!
<p>
The trip was pretty fun and I tried to write every day we biked between cities, and then had some longer write-ups for the places we hung out for a few days.
<p>
<a href=copenhagen>First while: staying in Copenhagen</a>
<br>
<a href=amsterdam>Next while: staying near Amsterdam</a>
<br>
<a href=salzburg>Next while: staying in Salzburg</a>
<br>
<a href=werfen>Salzburg to Werfen</a>
<br>
<a href=badgastein>Werfen to Bad Gastein</a>
<br>
<a href=mallnitz>Goodbye Bad Gastein, Hello Mallnitz</a>
<br>
<a href=villach>Mallnitz down to Villach</a>
<br>
<a href=tarvisio>Goodbye Austria - Villach to Tarvisio, Italy</a>
<br>
<a href=bovec>Tarvisio, Italy to Bovec, Slovenia</a>
<br>
<a href=kranj>Bovec to Kanal (and train to Kranj)</a>
<br>
<a href=logarskadolina>Kranj to Logarska Dolina</a>
<br>
<a href=mozirje>Logarska Dolina to Mozirje</a>
<br>
<a href=kovac>Mozirje to Paska Vas to train to Kocevje to Osilnica</a>
<br>
<a href=croatian>Into Croatia</a>
<br>
<a href=senj>Novi Vinodolski into Senj</a>
<br>
<a href=novalja>Senj into Novalja</a>
<br>
<a href=zadar>Novalja into Zadar</a>
<br>
<a href=sebenik>Zadar into Sebenik</a>
<br>
<a href=split>Sebenik into Split</a>
<!--
<a href=europe26-6>Day 6: </a>
<br>
-->
<h3>You can read about my other trips <a href="/">on the main page of this site</a></h3>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
