---
import Layout from '../components/Layout.astro';
---

<Layout title="Slovenia Bike Tour, May 2025">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">

        <h1>Slovenia Bike Tour, May 2025</h1>
        <h2>
           Biking in Slovenia with Jeff Bernards
        </h2>
      </div>
<p>
<p>
<h3>Trip Summary</h3>
<b>Distance: 350+ miles</b>
<br>
<b>Difficulty: fairly easy (using e-bikes)</b>
<br>
<b><a href="https://ridewithgps.com/collections/3934044?privacy_code=TGywjmAWZLdBOgoTm1FBoboK3wkdgEY6">Link to proposed route in RidewithGPS</a></b>
<br>
<h3><a href="https://photos.app.goo.gl/n64phYFmB4n9dg3Y6">Full photo gallery from this trip</a></h3>
<br>
<p>
Friend Jeff Bernards, who led our tour of Death Valley back in Feb 2011, invited me to bike around his adopted homeland of Slovenia in May 2025.
<p>
I'll be journalling here as I travel.
<p>
<a href=sday0>Day 0 - Preparing around Ljubljana</a>
<br>
<a href=sday1>Day 1 - Ljubljana to Bloke Lake</a>
<br>
<a href=sday2>Day 2 - Exporing west of Nova Vas</a>
<br>
<a href=sday3>Day 3 - Bloke Lake to Novo Mesto</a>
<!--
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
<a href=sday0>Day 0 -</a>
<br>
-->
<p>
<h3>You can read about my other trips <a href="/">on the main page of this site</a></h3>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
