---
import Layout from '../components/Layout.astro';
---

<Layout title="South Central California Valley Bike Tour, November 2025">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">

        <h1>South Central California Valley Bike Tour, November 2025</h1>
        <h2>
           Escaped Portland's grey winter (again) for a week and a half of fairly sunny miles 
        </h2>
      </div>
<p>
<h3>Trip Summary</h3>
<b>Distance: 510 miles in total</b>
<br>
<b>Climbing: 7551 feet total</b>
<br>
<b>Difficulty: medium</b>
<br>
<b><a href="https://ridewithgps.com/collections/8152222">Link to full route in RidewithGPS</a></b>
<br>
<h3><a href="https://photos.app.goo.gl/kdARPcbmBMw98U7k8">Full photo gallery from this trip</a></h3>
<br>
<p>
Late last year, I was getting a little cabin fevery during the rainy, cold and dark Portland winter, so I hunted a bit for "winter-recommended bike tours nearby" and found this gem: 
<br>
<h3><a href="https://ridewithgps.com/ambassador_routes/2086-great-central-valley-bicycle-route">The Great Cental Valley Bicycle Route</a></h3>
<p>
Since I can easily get to Sacramento with my bike, by train, I planned to arrive in Sacramento in early November, and ride south towards Los Angeles.  In the end I stopped in Bakersfield to avoid the less-awesome routes and extra climbing, combined with some heavy wind/precip in the forecast and headed home from there.
<p>
You can read more about the trip in the individual daily journals linked below, which will also link to my per-day routes on Strava in case you want to peek at the route or how fast I was going when I went past your old elemetary school :)
<p>
<a href=vvday1>Day 1: Sacramento to Stockton</a>
<br>
<a href=vvday2>Day 2: Stockton to campground near Livingston</a>
<br>
<a href=vvday3>Day 3: Campground to Fresno</a>
<br>
<a href=vvday4>Day 4: Fresno to Lindsay </a>
<br>
<a href=vvday5>Day 5: Lindsay to campground past Earlimart</a>
<br>
<a href=vvday6>Day 6: campground to Bakersfield</a>
<br>
<h3>You can read about my other trips <a href="/">on the main page of this site</a></h3>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
