---
import Layout from '../components/Layout.astro';
---

<Layout title="South Central California Valley Bike Tour, November 2025">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">

        <h1>South Central California Valley Bike Tour, November 2025</h1>
        <h2>
           Escaped Portland (again) for a couple weeks of sunny miles 
        </h2>
      </div>
<p>
<h3>Trip Summary</h3>
<b>Distance: Around 600 miles</b>
<br>
<b>Climbing: Around 12000 feet total</b>
<br>
<b>Difficulty: medium</b>
<br>
<b><a href="https://ridewithgps.com/routes/52891806">Link to proposed route in RidewithGPS</a></b>
<br>
<iframe src="https://ridewithgps.com/embeds?type=route&id=52891806&sampleGraph=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
<br>
<h3><a href="https://photos.app.goo.gl/kdARPcbmBMw98U7k8">Full photo gallery from this trip</a></h3>
<br>
<p>
Late last year, I was getting a little cabin fevery during the rainy, cold and dark Portland winter, so I hunted a bit for "winter-recommended bike tours nearby" and found this gem: 
<br>
<h3><a href="https://ridewithgps.com/ambassador_routes/2086-great-central-valley-bicycle-route">The Great Cental Valley Bicycle Route</a></h3>
<p>
Since I can easily get to Sacramento by train, I plan to arrive in Sacramento in early November and ride south to Los Angeles.
<p>
Once I get started, you can read more about the trip in the individual daily journals linked below, which will also link to my per-day routes on Strava.
<p>
<a href=vvday1>Day 1: Sacramento to Stockton</a>
<br>
<a href=vvday2>Day 2: Stockton to campground near Livingston</a>
<br>
<!--
<a href=vvday3>Day 3 - to </a>
<br>
<a href=vvday4>Day 4 - </a>
<br>
<a href=vvday5>Day 5 - to </a>
<br>
<a href=vvday6>Day 6 - to </a>
<br>
<a href=vvday7>Day 7 - to </a>
<br>
<a href=vvday8>Day 8 - to </a>
<br>
<a href=vvday9>Day 9 - to </a>
<br>
<a href=vvday10>Day 10 - to </a>
<br>
<a href=vvday11>Day 11 - to </a>
<br>
<a href=vvday12>Day 12 - to </a>
<p>
-->
<h3>You can read about my other trips <a href="/">on the main page of this site</a></h3>
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
