
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Amsterdam">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Amsterdam</h1>
        <h2>
           Not enough time to see as much as we wanted
        </h2>
      </div>
<h3>Ride Summary</h3>
<br>
Distance: 60-odd miles in total
<br>
Climbing: minimal
<br>
Descending: same
<br>
Difficulty: easy
<br>
<a href="https://www.strava.com/activities/18429507485">Link to first workout in Strava</a>, <a href="https://www.strava.com/activities/18413503431">Link to other workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a>
<hr>

<a href="https://q42.me/trips/europe2026/nl-bikecanal.jpg"><img src="https://q42.me/trips/europe2026/nl-bikecanal-small.jpg"></a>
<p>
We made it into the Hague (which they spel Den Haag locally) after midnight, and spent two whirlwind days there before heading out on the train for Austria.  We made it count with about 60 miles of riding around and sight/friend-seeing.
<p>
<a href="https://q42.me/trips/europe2026/nl-fancycoffee.jpg"><img src="https://q42.me/trips/europe2026/nl-fancycoffee-small.jpg"></a>
<p>
We struggled a bit to get into our hotel after hours but a combination of persistance and luck helped us end up in bed by 2am.  I hit my head pretty hard carrying Lori's bike up the narrow steep stairs but nothing that left much of a mark...
<p>
<a href="https://q42.me/trips/europe2026/nl-gladrooster.jpg"><img src="https://q42.me/trips/europe2026/nl-gladrooster-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/nl-ruralbikepath.jpg"><img src="https://q42.me/trips/europe2026/nl-ruralbikepath-small.jpg"></a>
<p>
We walked to late breakfast in the morning before tooling around the Hague for the day - we rode through the dunes by the sea and had a great Indonesian dinner and a fancy drink at a French bar before we met up with friends at a (different) rooftop bar.
<p>
<a href="https://q42.me/trips/europe2026/nl-happyfriends.jpg"><img src="https://q42.me/trips/europe2026/nl-happyfriends-small.jpg"></a>
<p>
Friends from my last job and then some neighbors of ours from Portland who had recently emigrated to The Hague made for a very welcome chill evening speaking unapologetic English and taking in the sunset before we headed back to sleep.  In the interim I'd figured out how to avoid the steepest set of stairs which was a treat in tipsy, drowsy state carrying Lori's bike (she's much more worried about the safety of hers than I am of mine.  So far so good in not suffering any theft including of lights/etc we might leave attached!)  Our friends also informed us a bit about how to ride in (bike) traffic, which made the rest of our stay here rather less hectic and confusing!  There are pretty clear street markings that explain right of way and once we understood them, we rode a lot more like the locals!
<p>
<a href="https://q42.me/trips/europe2026/nl-escherpalace.jpg"><img src="https://q42.me/trips/europe2026/nl-escherpalace-small.jpg"></a>
<p>
In the morning we put the bikes on the train and headed into Amsterdam (where I'd had trouble finding a reasonably priced place to stay), and we took a canal cruise, met one more friend of mine from my last job who lives in Amsterdam rather than the Hague, and then visited the amazing <a href="https://www.straatmuseum.com/en">STRAAT museum</a> at the suggestion my favorite mechanic from the bike shop we use in Portland, who'd just visited Amsterdam himself.  Check out the photo gallery since we took some good shots of some of the huge, amazing art.
<p>
<p>
We had a quick Italian dinner, visited a souvenir shop for Lori to get a trinket, and then we rode most of the way back to the Hague from Amsterdam.  This was all the riding we got to do in Amsterdam so now I clearly have to return to soak in it a little more.
<p>
<a href="https://q42.me/trips/europe2026/nl-bikemural.jpg"><img src="https://q42.me/trips/europe2026/nl-bikemural-small.jpg"></a>
<p>
The ride out of town was quite hectic since we started from the city center and it was still the end of rush hour - SO MANY BIKES - and there were also somewhere close to 1 zillion tourists walking around oblivious to bikes, but we got out into the countryside pretty quickly and made a very fast flat 30-odd miles into the last train stop before the hague where we decided to catch the train instead of riding through the dark.
<p>
<a href="https://q42.me/trips/europe2026/nl-straatart.jpg"><img src="https://q42.me/trips/europe2026/nl-straatart-small.jpg"></a>
<p>
Got packed up and did a little bike maintenance over a celebratory beer before we slept hard til morning. Finally, got onto the train(s - there are always transfers!) to Salzburg where I write this post.  We'll have dinner in Munich and then finish our train to Salzburg wherefrom we start biking in earnest towards points south in a couple days!

<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
