
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Werfen to Bad Gastein">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Werfen to Bad Gastein</h1>
        <h2>
           Up a big steep snowy hill
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 35mi
<br>
Climbing: 2700 feet
<br>
Descending: less
<br>
Difficulty: medium-hard
<br>
<a href="https://www.strava.com/activities/18479426785">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
The weathermen from our various apps couldn't agree about what we'd see today but by the time we finished the ice caves, it was sunny in Werfen and the wind was hugely behind us.  I was happy and presumed the situation would continue.
<p>
We stopped for lunch a scant 4 miles in and rolled again around 2pm just as the rain started and the wind shifted to be in our faces just as we climbed up the first big climb.  Both of the big climbs today were ultra-steep - steeper than through roads generally are in the US - and even though I'm in pretty good shape, not good enough shape to ride 15%+ grades with my fully loaded bike so we both walked and pushed some of those two climbs.
<p>
The sun came back out and wind died down a little at the top, so we made good time for the next 20ish miles to the bottom of the final climb, which was good since we had to get to our lodging by a specific time to get let in by our host.  She'd already been kinda and agreed to show up several hours after her usual time so we could get situated and we didn't want to make her wait (Lori was the one who talked to her; I didn't know if she even would wait and strove to be conservative and just get there on time).
<p>
That last climb though, 2.5 miles and 1000 feet of elevation. Much of it was pretty dang steep, and I ended up pushing instead of riding for a lot of it. And then the snow flurries started!  Fortunately they were just flurries, not even enough to get me or the ground wet, and I made it just about on time and Sonja our host was extremely friendly and helpful, even realizing I'd dropped a substantial amount of cash on the floor, and bringing it to me.  Once I'd gotten the room key, I walked back down and pushed Lori's bike up the last hundred or so feet, and then we immediately wentt to soak in some thermal baths.  The town's name, "Bad Gastein" essentially means "The Spa town of Gastein" as there are some thermal springs and spas here.  We only had an hour there but it was pretty nice to sit in a sauna and hot tub on the roof of a place nestled into the alps and just appreciate nature as our bodies relaxed.  Sonja had warned me that it was the off season and there wasn't much open late, but we ate at the last restaurant open in town - funnily called "Good Gastein" - and then slept hard.
<p>
Tomorrow is a short day and Lori's bike needs some help (from the repair shop back down the big hill, though there is a train back up the hill fortunately), and the destination town has literally no open restaurants (but yes a grocery store and train station) so we'll be figuring out the plan for food before we go.  Skipping meals with our metabolisms up from the workouts is not a viable plan.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
