
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Tarvisio to Bovec">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Tarvisio to Bovec</h1>
        <h2>
           Hello Slovenia
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 20 mi
<br>
Climbing: 1800 feet
<br>
Descending: slightly more
<br>
Difficulty: medium-easy
<br>
<a href="https://www.strava.com/activities/18541743546">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Yesterday turned into a rest day in Tarvisio - we had planned to do a ride nearby but it was cloudy in the morning and we have some hard riding planned the next 2 weeks without many breaks, so we just bummed around town, mostly ate and sat around.
<p>
Today we got up well rested and packed up and had pastry and coffee at our favorite pastry shop in town, and then turned south into Slovenia.  It was a pretty short ride, but the beginning was a long climb which Lori was a little worried about but I was not, having <a href="https://foolishtravels.com/slovenia/sday8/">ridden it with Jeff last year on an e-bike.</a>  We approached from the other side this time and it was rather less climbing and total distance for the day, plus we stopped a few miles in to check out <a href="https://www.museitarvisio.it/museo-della-tradizione-mineraria/">the mining museum at Raibl</a> which was moderately interesting.  Apparently we should have booked the tour of the mine itself but you have to do that in advance so we just saw some old stuff and learned a few things.  It was interesting enough for 30 minutes or so.
<p>
We rolled onwards and up from there, about a 1000 foot climb up to <a href="https://en.wikipedia.org/wiki/Predil_Pass">Predil Pass</a> in a few miles.  It was steady but not Brutal like the climb into Bad Gastein earlier this week, so we made it up in reasonable time with only a couple stops.  Traffic was low and fairly kind both on the up and on the way down the other side.
<p>
Shorter day, so our 9am departure meant arriving by lunchtime even with the museum stop and catching our breaths (plus the downhill on the other side of the pass went pretty fast), and we had burgers for lunch and then headed to the campground (we're glamping in a hut with beds and linens and are doing laundry now).  Tomorrow looks to be about the same effort level with an awesome hike in the middle, and then a train ride across the country to our next leg.  Might go back up into town for dinner later or might just eat at the campground restaurant; we'll see.
<p>
Today was probably the most breathtaking view-wise and we have a ton of pictures to prove it if you wanna check out the gallery.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
