
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Copenhagen">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Copenhagen</h1>
        <h2>
           Nothing's Rotten in the state of Denmark
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: around 110mi total
<br>
Climbing: around 2500 feet total
<br>
Descending: similar
<br>
Difficulty: medium-easy
<br>
<a href="https://www.strava.com/activities/18362977271">Link to 1 longer ride in in Strava</a>, <a href="https://www.strava.com/activities/18374804144">and another</a>, <a href="https://www.strava.com/activities/18386381475">and another</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a>
<hr>
<p>
I woke up with a cold on travel day; what a bummer!  But, we set off anyway, and after an epic 28 hour travel session (comprised 1/3 of layovers spent in Seattle and Reykjavik airports), we arrived in Copenhagen around 9:30pm local and put our bikes together in the airport and took the metro and pedaled to our Airbnb, finally arriving after midnight local time. Lori was pretty hungry but I was pretty ready for bed and so we tried to sleep and met our new enemy, Jetlag.  It took a few days to get over that and the net result was that this night was pretty restless.
<p>
<a href="https://q42.me/trips/europe2026/cph-secretlori.jpg"><img src="https://q42.me/trips/europe2026/cph-secretlori-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-tunnelhead.jpg"><img src="https://q42.me/trips/europe2026/cph-tunnelhead-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-guardhouse.jpg"><img src="https://q42.me/trips/europe2026/cph-guardhouse-small.jpg"></a>
<p>
We went out to a great breakfast within walking distance of the apartment and then purchased a city pass (one price for transit and a lot of attractions in and around the city) and set about exploring.  Started off with some errands and then checked out <a href="https://www.thedanishparliament.dk/christiansborg-palace">Christiansborg Palace</a> right in the middle of the city, and learned a little of the history of the place and took some silly pictures.
<p>
<a href="https://q42.me/trips/europe2026/cph-lori-rushhour.jpg"><img src="https://q42.me/trips/europe2026/cph-lori-rushhour-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-noparking.jpg"><img src="https://q42.me/trips/europe2026/cph-noparking-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-bikegutter.jpg"><img src="https://q42.me/trips/europe2026/cph-bikegutter-small.jpg"></a>
<p>
Since I was kinda sick and pretty low energy after sleep failure, much of our time today was spent thinking about the rest of our visit and gawking at the 1 zillion bicycles and bicyclists zipping around town.  We had a disappointing and expensive pasta dinner near the apartment and checked out the grave of Hans Christian Andersen which was a few hundred feet from our apartment.  
<p>
<a href="https://q42.me/trips/europe2026/cph-cheers.jpg"><img src="https://q42.me/trips/europe2026/cph-cheers-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-drinknotshake.jpg"><img src="https://q42.me/trips/europe2026/cph-drinknotshake-small.jpg"></a>
<p>
I texted an old boss and friend who is from Copenhagen for suggestions and we went out to the old meat packing district on his suggestion and drank some beer with some rowdy folks.  After a little walking around we headed in for the night hoping for better sleep (which did not happen for me at least).
<p>
<a href="https://q42.me/trips/europe2026/cph-trainbikeparking.jpg"><img src="https://q42.me/trips/europe2026/cph-trainbikeparking-small.jpg"></a>
<p>
The next morning we cooked breakfast and then set out to points north by train, screwing up and not purchasing bike tickets for the in-town metro rail, so we got a ticket from the transit cop (who was quite nice, but not nice enough to let it go without us paying).  We took that first train about 8 minutes across town and could/should have biked to our connecting train which did not require bike tickets.  Live and learn!
<p>
<a href="https://q42.me/trips/europe2026/cph-artsquat.jpg"><img src="https://q42.me/trips/europe2026/cph-artsquat-small.jpg"></a>
<p>
<i>My inner art expressed outwardly</i>
<p>
<a href="https://q42.me/trips/europe2026/cph-hamlet1.jpg"><img src="https://q42.me/trips/europe2026/cph-hamlet1-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-hamlet2.jpg"><img src="https://q42.me/trips/europe2026/cph-hamlet2-small.jpg"></a>
<p>
<i>To be or not to be?</i>
<p>
Our first stop was <a href="https://louisiana.dk/en/">Louisiana Art Museum</a> which was pretty nifty, and then we rode about 8 miles north to <a href="https://kronborg.dk/en">Elsinore Castle</a>, the setting for Shakespeare's play Hamlet.  We explored the grounds and buildings fully, again taking some silly pictures of me dressed in huge royal outfits as well as talking with poor Yorick's skull in the courtyard.
<p>
<a href="https://q42.me/trips/europe2026/cph-kingoftheworld.jpg"><img src="https://q42.me/trips/europe2026/cph-kingoftheworld-small.jpg"></a>
<p>
<i>King of a very small kingdom</i>
<p>
We rode home from there along the highway for awhile and then Lori found us a way over to the bike path near the train which was a lot more pleasant.  We made it back into town and had some cute tiny pizzas for dinner before I managed to get a huge 11 hours of sleep finally bringing me fully out of zombie mode the next day.
<p>
<a href="https://q42.me/trips/europe2026/cph-elsinoretogether.jpg"><img src="https://q42.me/trips/europe2026/cph-elsinoretogether-small.jpg"></a>
<p>
Cooked breakfast again and then headed north again on the train (skipped the metro this time so we didn't have to worry about bike tickets) this time to Frederiksborg castle, and explored the castle for a bit before riding back to town along a very cute route Lori had set up for us - through the woods, past some art, and then finally fell back onto the cyclepath next to the highway which took us straight to our front door.  Lori was craving a burger which we ate in the park next to the cemetary before repairing home for Lori to do some laundry since she didn't feel like coming out to the bar down the street with me; I read and drank and came home, and we slept.
<p>
<a href="https://q42.me/trips/europe2026/cph-loristatue.jpg"><img src="https://q42.me/trips/europe2026/cph-loristatue-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-tunneldark.jpg"><img src="https://q42.me/trips/europe2026/cph-tunneldark-small.jpg"></a>
<p>
Once more cooked breakfast, ran a few errands enjoying some of the many tunnels in town, and then we checked out <a href="https://www.smk.dk/en/">the national art gallery</a> which had really too much to see all in one day.  We bopped around a little before ending up at the Cisternes, one more museum to end our tourist-tasks.  This was a weird one, with a performance art piece in these former water storage cisterns underneath a pretty park.  Cold, wet, and weird but it was an interesting experience anyway.
<p>
<a href="https://q42.me/trips/europe2026/cph-biketunnel2.jpg"><img src="https://q42.me/trips/europe2026/cph-biketunnel2-small.jpg"></a>
<a href="https://q42.me/trips/europe2026/cph-biketunnelstatue.jpg"><img src="https://q42.me/trips/europe2026/cph-biketunnelstatue-small.jpg"></a>
<p>
Dinner was great - definitely the best meal we had in town and one where everything tasted amazing, followed by some great drinks at a tiny hidden bar down the street.  We got home around midnight and crashed out since the next day was an all day train travel day - heading to Amsterdam!
    </div>
</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
