
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Croatia is cute!">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Croatia is cute!</h1>
        <h2>
           A premature goodbye to Slovenia
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 50 miles
<br>
Climbing: 4373 feet
<br>
Descending: more!
<br>
Difficulty: hard
<br>
<a href="https://www.strava.com/activities/18610011953">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Slept poorly due to the late discovery of the Situation.  Woke up and let Lori know about the situation - the route planned would leave us hungry during and after a hard ride to a place that wasn't really much of a destination, so Lori Sills and I brainstormed a major change - leaving Slovenia 3 days early. We were already on the Croatia border in last night's hotel so we just headed south this morning into Croatia and crossed much of the country to make it all the way to the Adriatic!
<p>
Fortunately the hotel scored some points this morning as owner Simon was in the house and remembered me and got the cook to make us some more protein to go with the traditional bread-spread, and the bread was also freshly made and quite tasty.  And there were pancakes!  All of this fueled our route planning (which Simon also advised on) and we were ready to go by 10.
<p>
Nice rolling valley floor start (still in Slovenia for the first 12 miles) then we turned south and went up a huge climb into the Croatian hills. The big climb was all rideable into lunch town of Delnice where we indulged in ice cream and burgers and got snack pastries from the ever present pekara (bakery) for the road.
<p>
Heading out of town was trafficky but the route soon diverted from the highway onto some steep as heck 1/2 mile connector that we had to push the bikes all the way up.  Usuually I try to ride even if it's hard but this was immpossible on a loaded bike  Strenuous middle part of the ride for sure between the climb into and out of town.
<p>
But - then we were really on top of the world and cruised on the same road for the next 20 or so miles and it was amazing! We saw at least a dozen other bikers (we knew it was popular from the heatmaps) and even the climbs were pleasant - low traffic steady grades on good wide pavement.  Thanks so much to Simon at the hotel for getting us to the start of this road and YAY HEATMAPS for helping us pick it.  But also...not a lot of roads across this part of the country so yay that it was so low traffic and just...awesome.
<p>
Stopped for a beer at a cute middle of nowhere bar and to rent a place to stay tonight near the top (around 3000 feet), accomplished the beer and the plan, and then had one of the best 10 mile descents in memory. Road 5068 for the win!
<p>
Bombed all the way to town, then crept down steep as heck back alleys to the beach where our place is.  We're scheming to take an Uber back up the hill rather than pushing our bikes through town on 20%+ grades to start the day!  We can be lazy if we want and we already rode to the place we'll take a car to - for $15 - to enjoy instead of hating tomorrow morning.  We had an amazing dinner on the bach 100 feet from our room.  Blissful, satisfying day all around!  And Croatia is just adorable so far...
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
