
---
import Layout from '../../components/Layout.astro';
---

<Layout title="variability">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Variability</h1>
        <h2>
           good moments, bad moments, and some in between
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 29 mi
<br>
Climbing: 2700 feet
<br>
Descending: more!
<br>
Difficulty: hard
<br>
<a href="https://www.strava.com/activities/18591173936">Link to first workout in Strava</a>, <a href="https://www.strava.com/activities/18596721267">Link to second workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Packed last night so we only had to get up kinda early and not super early to make our 630am train.  Luckily I figured out last night that we could go to a train station 5 miles and 300 feet of climbing away and not 11 miles and 800 feet of climbing away, giving us some breathing room and an alarm clock at a time that started with a 5 rather than a 4.
<p>
Last night the campground had provided us some baked goods in lieu of a hot breakfast since we were leaving before they'd be up to serve us and I apparently paid in advance for breakfast (and forgot I had done so).  Lori changed her worn brake pads last night but now her brakes were rubbing and really slowing her down and making riding much harder.  So we had breakfast unexpectedly, but we also had a pretty big logistical problem going into a couple of days of hard riding in the middle of nowhere.
<p>
We got up with the sun and had tasty breakfast and even found coffee and a pot to make it in; this campground was fully equipped and pretty amazing.
<p>
Despite Lori's resistance training, we made it to train station about 10 minutes early, but the train ran later and later as we went, and eventually we missed our 3rd transfer in Ljubljana and gave up hope on a morning arrival at our end stop.  But, we had a shorter ride planned so starting a bit later wasn't untenable.
<p>
While we were killing time in Ljubljana, we tried a couple bike shops for help with the brakes but Jeff's favorite was closed and a fancy triathlon shop couldn't make time, so we just had lunch and a drink while we waited.
<p>
Lori had been corresponding with a bike shop - <a href="https://www.bikeworkshop.si">Bike Workshop</a> in our train-destination Kocevje, and that guy was a few blocks from the train station, was kind and helped Lori immediately and she was rolling easy again, thank goodness!  We have some hard climbs coming up
<p>
As we rolled uphill from Kocevje, we stopped in the only thing bigger than a hamlet on between our start and endpoints for a beer to power the climb, and while we drank, the rain came.  It also stopped, and we had a gorgeous uphill cruise together over Reber Pass and down to the Hotel Kovac which I remembered very fondly from my visit with Jeff last year.
<p>
It was a great ascent but even better descent, zooming through the switchbacks and to the hotel with enough time to spare to enjoy the sauna before it was going to close.
<p>
Unfortunately, the hotel was not in top form - as far as we could tell there was one dude running the hotel and restaurant (and not the very capable owner Simon whom I'd made friends with last year), and none of the sauanas were on when we got to the spa.  They managed to turn one on and it was kinda hot after an hour but Lori was starving and we needed to eat so it wasn't the rest and relaxation we were hoping for.
<p>
Dinner was also kinda terrible - Lori's food took 45 minutes to bring and mine came immediately.  Lori's first dish was bad enough that we sent it back but at least the second one was edible and we repaired to the room and she went direct to bed.
<p>
After she'd fallen asleep, I had a little crisis - realizing there was no real food available for lunch or dinner during our planned hardest day. Thus, I left this blog post til the next day and slept poorly worrying about our travels.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
