
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Overtraining into Kranj">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Overtraining into Kranj</h1>
        <h2>
           screwed up but not too bad
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 38 mi
<br>
Climbing: 2267 feet
<br>
Descending: more
<br>
Difficulty: medium
<br>
<a href="https://www.strava.com/activities/18554266688">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Slept well after a video chat with the family last night.  Miss our weekly chats but the timezone difference has made me unable to meet at the usual time.
<p>
We made it a point to get up and get going early since we had a train to catch, and last night I'd discovered that we couldn't go to the nearest train station as planned, but needed to go past it by a few stops since they were going to run busses instead of trains from my intended stop and they won't put bikes on the bus.  So we packed and dashed down some pastries and coffee-vending-machine coffee and got rolling around 8, which is pretty early for us - usually we're eating around 8 and still have some packing to do.
<p>
Even though the day would be a little longer, I felt in good control of our plans since I'd ridden even the lengthened route before with Jeff, and lots of it looked familiar to me.  Plus there were no monster climbs which are one of my 3 least favorite things when loaded (other two being heavy traffic and stiff headwinds).  So we rolled through the first third of the ride - primarily downhill - and to a place I was excited to show Lori - <a href="https://www.soca-valley.com/en/in-search-of-adventure/nature/2020122809482088/kozjak-waterfalls/">Kozjak Falls</a>.  Jeff kinda brushed it off last year when we were camping next to the trailhead, but I took the time to do the hike and was glad I did - quite a beautiful and special place and not even a long hike to get to it.
<p>
We set out on the hike about 10 and walked a quarter mile or so and found an honor box with a coffee machine which Lori made use of, since she's drinking lots of coffee this trip.  Mediocre coffee but not bad for getting it during a rustic hike I guess?  We then found the bike parking and walked back to our bikes to move them into the bike parking rather than leaving them (with all our bags on) in the parking lot.
<p>
We briefly checked out some WW1 trenches along the route of the hike and then came to the falls, which she liked as much as I do.  Take a look in the gallery for some pics!  But the place is pretty magical and I'm not sure how much that comes across in amateur phone pics.  You'll just have to swing by next time you're in Kobarid!
<p>
We then stocked up on snacks and lunch at the fancy grocery store in town and bought a beer from the neighboring cafe so we could use a table to eat at.  Ate the perfect amount of lunch as we saw a half dozen other bike tourers pull up, shop quickly, and roll out.
<p>
Caught those dudes about 10 minutes later and we were both feeling pretty good so we passed them and never saw them again.  We were making good time - we might catch the early train instead of the middle one (late one was a fallback option but was hoping to get in long before 1030pm to our hotel in Kranj!)  We rode past the train station I was sure we couldn't use, though some kinda gross traffic on a highway with a headwind for awhile, but we eventually made it to the turnoff towards the intended train station.  We made such good time - especially on the backround between the highway and the next train station - that Lori had plenty of time to grab a gelato while I triple-checked the train situation.  And, turns out I was wrong.  I'd had us ride past the nearest, CORRECT train station 10 miles towards the wrong one (facepalm).  As I was berating myself about this and quadruple checking, a kind old man who was waiting at the train station swore that a train was coming - he rides it every day - and Lori suggested we just wait and see; if it was as I suspected replaced by a bus, we had time to bike back to the former, correct, post-bus station (when they close some tracks, they often run bus replacements, but those buses can't take bikes or wheelchairs I guess?  It happened to Jeff and I last year hence me having a good route to the "far" station, where we'd been dumped early since the SAME tracks were under repair then, too).
<p>
Old dude spoke "only small English" but we made, er, small talk and waited and sure enough the train came and we got our bikes on and rode through the train station we should have gone to, but we did make it to our destination early enough that Lori had not quite yet imploded from hunger (it was close!), had some filling and cheap balkan food and then some less satisfying baklava at the fancy dessert restaurant, and now...sleep.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
