---
import Layout from '../../components/Layout.astro';
---

<Layout title="Up up and towards">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Up up and towards</h1>
        <h2>
           A brush with fame
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 36 mi
<br>
Climbing: 4718 feet
<br>
Descending: slightly less
<br>
Difficulty: hard
<br>
<a href="https://www.strava.com/activities/18568807261">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
I was a little worried about today's ride - it's the hardest of the trip and we are carrying a lot of stuff (which makes hard climbs much harder).  But everything went well and we made it to another favorite place in Slovenia, <a href="https://www.logarska-dolina.si/">Logarska Dolina</a>, a valley tucked into the mountains that is also a Natural Park.
<p>
In the morning, we set out from our substandard hotel in Kranj (but, standard and sufficient breakfast) knowing that we didn't have any real lunch stops during the ride, so we were carrying a lot of snacks and some lunch pastries to make sure we didn't end up starving as we exerted ourselves.  The weather was also predicted to get nasty and doing a strenuous workout at altitude while cold and wet seemed like a good way to have a miserable day, but there is no room for delay in our schedule; reservations are made and paid for and usually not movable.
<p>
The first 20 miles or so were beautiful weather as we worked our way up a valley back towards Austria.  I'd ridden this with Jeff last year on the e-bike and the first part was uphill but not ridiculously so, and otherwise pretty, with nothing to complain about - the weather cooperated until we got to the only market on the route where there was a picnic table and we bought some water and candy to accompany our snacky lunch.  As we sat there, the clouds rolled in and it cooled off a bit, but aside from some sprinkles on the way out of town (where the really hard climbing started!) the rain held off.  The climb was steep enough that we took off our rain gear since it was too hot and sweaty, and Lori kept up a pace that I liked up to the top of this first climb, where we crossed back into Austria.
<p>
We bombed downhill and turned off the highway onto a less maintained back road, which turned uphill pretty quickly.  This was the climb that I was most worried about - 2000 feet in 3 miles.  I was hoping to maybe hitch a ride if someone in a truck passed us.  But Lori gamely started walking and I started riding and taking pretty frequent breaks to let her catch up (I did not have to wait long;  I was not riding much faster than she was walking since it was mega steep!)
<p>
Little traffic but a few inattentive drivers on this less-well-maintained narrow road - so, mostly just me and my sweat with occasionally jolts of whoa.  But we both made it to the top (I waited less than 10 minutes for her) and were rewarded with a great downhill into the valley and then up to the hotel we're staying at which is the nicest I've been at in recent memory.  Welcome drinks (local liqueurs) and sauna time and now basking in the Alpen backdrop as I write this before a Michelin-starred dinner.
<p>
Tomorrow, a nice waterfall hike before we set off on a less strenuous ride back towards civilization.
<p>
As I looked through Strava, I noticed that up the huge climb, we went only <a href="https://www.strava.com/activities/18568807261/segments/3491828506514103602">about one hour slower than Tadej Pogacar</a> who is currently the best cyclist in the world and also a Slovenian.  What took us well over an hour took him only about 15 minutes.  Of course he wasn't carrying 50 pounds of stuff, but it is still a little humbling/funny.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
