
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Around towns">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Around towns</h1>
        <h2>
           We travelled by train today but still rode a little bit
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 10ish mi
<br>
Climbing: 440 ft
<br>
Descending: similar
<br>
Difficulty: easy
<br>
<a href="https://www.strava.com/activities/18492180173">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Didn't end up riding between towns today - we had planned only a 5 mile ride since there was a mandatory train tunnel (cars, bikes, pedestrians - all have to get onto a train to go this way!) and Lori was still letting her re-waxed chain dry so we went only to the train station in Bad Gastein (3 blocks), and then in our destination Mallnitz - still only 10mi as the bird flies/train drives - we did ride around a little to get to the airbnb and then on the advice of our host, to a hike.
<p>
Morning was easy, eat breakfast, pack up, check out - but then we were struggling with the fact that the town we were going to hasn't yet really opened for the season - there are no restaurants open for dinner and there is also no breakfast here, but we have a long day tomorrow.  After looking around a bit (ok a lot) online it seemed like the best course of action was to take the train back where we'd been - downhill from Bad Gastein - to get dinner.  (And, we had to check in in Mallnitz well before dinner time!) But, getting those tickets turned out to be pretty complicated making sure it came with guaranteed bike reservations, so we spent over an hour at it and ended up with a suboptimal itinerary where we would go into town after 7pm and get back around 11pm.  We get tired before then!
<p>
We bought the tickets so we wouldn't miss dinner, but after riding the train through the tunnel, and going on a hike that was pretty delightful weather-wise and had a high number of waterfalls per mile, we decided to skip that stressful train trip and just stay in town since the airbnb has a kitchenette and the grocery store had a full selection.  We went shopping a little hungry and got like 40 euros worth of food but that is dinner, breakfast, and snacks tomorrow since there won't be anyplace else to get food before mile 25's planned lunch stop.
<p>
Now for a chill (literally...heater is slow to warm the room!) evening in.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
