
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Logarska Dolina to Mozirje">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Logarska Dolina to Mozirje</h1>
        <h2>
           Down but not out
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 44mi
<br>
Climbing: 1995 feet
<br>
Descending: more!
<br>
Difficulty: medium-easy
<br>
<a href="https://www.strava.com/activities/18583200080">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
It was hard to leave the fancy hotel, but they sent us off with a superior breakfast and held our bags while we went on a hike to the waterfalls.
<p>
Bombed down to the main junction for the days ride and noticed a worrisome sign which when translated says "compete closure of the road". We stopped for a beer at the bar on the corner and the barkeep confirmed that indeed the road was closed at the top of the 1400 foot category 2 climb. But we were still at the bottom.
<p>
Looking at the maps and heat maps it became clear that the way we were going - the way my friend had taken us last year with the same start and end points - was less direct, less ridden, and gratuitously steeper. So we went the smarter normal way and it was great!
<p>
Lori didn't love the slightly busy main road we were on and saw a bike route sign and suggested we deviate from the planned route and it was a big win...shortcut with less traffic! So when she suggested a next reroute I was game. This one was a little more freestyle and we ended up climbing a big ol gravel hill through someone's pasture. Right about this time the air got still and muggy and dark clouds rolled in. I thought I heard banjos. But then we crested, met up with the planned main road and bombed down on pavement into the hills, and the clouds blew away and we rolled the rest of the way to our dinner stop (at 4pm, since we had gone a shorter flatter way than planned) on a delightful bike route through idyllic valleys, towns, and fields.
<p>
Ate some great food, chatted with the owner of the place we ate -whom I'd met last year - and now he's coming to visit us in Portland in October.
<p>
Rolled the last 6 miles to our glampground though fields and back roads and settled into the nicest campground ever. Now for some beers and sleep; we have a very early train 11 miles from here!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
