
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Hot and Bothered">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Hot and Bothered</h1>
        <h2>
           historically dehydrated 
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 55 mi
<br>
Climbing: 2103 ft
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href="https://www.strava.com/activities/18690244599">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Caught an early ferry and then had 18 great low traffic island miles to the next ferry. Lori took advantage of our riding along the beach and took a dip but I didn't feel like riding any saltier than my sweat was making me.
<p>
After ferry number 2 we ended up back on the main highway for an uncomfortable spell before we could get onto a parallel back road which we rode until we stumbled onto a bike campground which we stopped at for a beer but weren't quite ready for lunch nor did we manage to successfully communicate that we were interested in food to the barkeep, so we drank and rolled.
<p>
We freestyle re-routed onto a dirt bike route to avoid more highway which was about when the heat really kicked up. The routing was a success, though we did eventually end up back on the highway for a few miles before we rolled into lunchville. Language barrier thwarted our lunch order but what they made was good, even if unexpected so we ate, hydrated, and scooted down to another beach where Lori cooled down again before we took more back roads to town.
<p>
We'd re sunscreened repeatedly but were still both starting to crisp up in the broiler as we rolled down the (paved) boardwalk in the suburbs of our destination for the day, Sibenik.
<p>
Post-beach but before downtown where we are staying was 4 more miles of the worst highway. They just don't believe in shoulders here so we rode the white line with white knuckles and crossed the only bridge into town before we could get back onto less busy roads and climb up to drop down into old town.
<p>
We walked our bikes through more than one restaurant (they fill the alleys and squares) to find our apartment which is again a historical building from centuries ago. Fortunately the plumbing and air conditioning are modern.  Our landlord recommended a local-flavors place and we enjoyed some of that local flavor before THE EXCITEMENT OF LAUNDRY TIME.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
