
---
import Layout from '../../components/Layout.astro';
---

<Layout title="The back way into Senj">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>The back way into Senj</h1>
        <h2>
           not quite to plan, but eventual success
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 23 mi
<br>
Climbing: 2900 feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href="https://www.strava.com/activities/18622576101">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
We looked at the numbers and today looked reasonably short on paper, but in practice it was pretty hard and took us quite a long time.
<p>
We'd planned to catch an Uber back up the hill (the region we're in is 2k+' hills bordering the Adriatic Sea and all roads to the sea are steep and downhill, and most commerce and people are on the sea), since we'd failed to plan well and try to find a place to stay up high. While the Uber app claimed it possible, no such Uber was actually available after 20 minutes of trying, so we just rode back up.
<p>
The first climb wasn't bad; low traffic and consistent 7% grade from 0 to 1600 feet and we did it almost without stopping. When I ride at Lori's pace, I feel like I could just spin for hours; I suppose this is what is meant by a sustainable pace. My default pace is "ride as hard as I can until I fall over", which doesn't really serve me well in situations like a loaded tour or hot weather. Today, even at the sustainable pace, it was warm and sunny and kinda still and we were both sweating like whoa on the way up.
<p>
But, by the top of that first 6 paved mile climb we were on top of the world, and it had cooled down slightly and the breeze (aka air conditioning) had picked up. We ate Skittles and dried apples, and we turned right, onto a dirt road. 
<p>
The dirt roads today were variable but mostly pretty challenging riding - either too rocky, too sandy, too steep, or a combination of those. Creeping down a what should have been a nice descent with one leg poised to step down when you lose traction is not really fun riding, nor is pushing a heavy bike up a steep road that was more big rocks than gravel. I wish Strava had a "slowest 5 mile time" type record since I probably hit that today while I walked my bike up 600' and 1.7 miles in 45 minutes, without really stopping. Boy are my arms tired from wrestling with it to keep going straight and upright. But both our bikes made it without real complaints of their own which in this terrain was a solid win.
<p>
As we rode, there were some great views, and the final bomb into town was unexpectedly paved so we could go more than 5mph, and then there was beer and ice cream.
<p>
To finish off the afternoon, a rude little 400' climb in the baking sun (someone turned off that breee!) up to the apartment, which was surprisingly cheap and we discovered why - it is at the very upper and outer edge of town.  Only a half mile as the crow flies, but you can't walk that way and the way you can get there is just up a cliff.  It's pretty to be at but pretty annoying to get to, on bike or on foot.
<p>
But we made it. Definitely gonna need to be more cautious about the gravel situations from here on out!  Dinner and a store stop and climing back up the big hill leaves us ready for bed and an early start tomorrow so we can try to beat some of the weekend traffic on the beach road which we have to ride for 30 miles.  But at least it's all paved?  And then we're taking a day off of the bikes on a beautiful island.  So that's all right.
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
