
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Goodbye Austria">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Goodbye Austria</h1>
        <h2>
            Hello for the first time, Italy
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 18 mi
<br>
Climbing: 1200 ft
<br>
Descending: less
<br>
Difficulty: medium-easy
<br>
<a href="https://www.strava.com/activities/18514228215">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
After a long rainy ride yesterday followed by a rainy evening and night, it was great to awaken to a dry morning!  We had breakfast and got packed up and rolled out just after the other pair of bike tourers who were also staying at the hotel we were...who were also headed to our destination of Tarvisio.  The fellow I talked with made noise about a big climb which Lori and I weren't aware of (we were aware it was uphill but not that there was one special sustained climb).  Our Garmins confirmed a 5mi climb of about 1100', right at the end.  But with only 20 miles to ride, we didn't feel very bad about it since we'd arrive fresh and hopefully dry.
<p>
We set out and were soon passed by others on our route as we rode a cyclepath the entire way up to Tarvisio, Italy.  We even passed a few folks (all of whom were stopped at the time, but none ever repassed us, so I like to think we maintained a reasonable pace.)  I thought I was riding ahead on the climb as I often do - I tend to be a "git er done" kinda climber and would rather regroup at the top than in the middle - but Lori was just behind me and so together we crested the less-big-in-practice-than-in-theory top; that climb just wasn't as big as Garmin thought, and a lot of the reportedly steep parts weren't even uphill somehow.  The elevation data here in Europe just hasn't been as good - particularly, overstating the climbs (so, easier than expected) which is a much better boat to be in than the US data which tends to frequently understate the climbs (which is a much more bitter and less sweet surprise).
<p>
We crossed the Italian border on the steepest part of the cyclepath and it was a non-issue (the border station had restaurants but no border guards as expected crossing into/out of EU member nations), and aside from a photo-op at the incredibly sticker-covered Italy sign, we didn't stop even though there were a dozen or so cyclists all gathered on the trail.  It was about this point we started to see snow next to the trail, but the temperature was not freezing (I was wearing just a shirt, no sweater or jacket), and it never precipitated on us while we rode.  yay!
<p>
Top reached sooner than expected, we had been seated for lunch by 11:45, and ate some great pasta, calamari, and ghoulash (I think the ghoulash was Slovenian, the other two were Italian, but the restaurant menu was in German.  Joys of a border town!)  We were killing time a bit before we could check in to our lodging for the next 2 days but the restaurant was pretty full so we didn't try to nurse our drinks for hours, but went out into the now-rain (started only as we were eating).
<p>
We walked up the street to a nearby bar to sit for about 30 minutes til we could get into the apartment, then walked around the corner to the place and got settled in and met the host briefly to complete check-in.  All cleaned up, napped, and got the routes for the next week all dialied in before a rest day tomorrow (we were going to ride, but if the weather isn't gorgeous, we'll just stay in town and take a rest day before 6 days of pretty hard riding!)
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
