
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Connoisseurs of mud">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Connoisseurs of mud</h1>
        <h2>
           rain, rain, go away.
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 57 mi
<br>
Climbing: 1568 feet
<br>
Descending: rather more!
<br>
Difficulty: medium
<br>
<a href=https://www.strava.com/activities/18505504181">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
Planned to be up and out early to beat the weather but it didn't quite work out that way; we rolled around 8:30 despite breakfast in.
<p>
We started by trying some alternative routing that our host recommended but either we misunderstood her, or she shreds the gnar... Regardless, we opted out of the exposed, steep singletrack on our heavily loaded touring bikes and headed down the main road out of town.
<p>
The road was an incredible, nearly traffic-free 2000 foot descent, and featured great coffee at the bottom.  We cruised about halfway through our day at a good pace along the <a href="https://www.visitvillach.at/en/alpe-adria-cycle-path.html">Alpe Adria trail</a>, playing leapfrog with a dozen other cyclists on the same route throughout the morning, and had lunch in Spittal as planned, though almost every business in this country is closed today for the bank holiday Ascension Day!
<p>
It started raining while we ate lunch, and kept raining for the rest of the day. Only about 3.5 hours of riding left.  As was the case all day, the route featured about 50% dirt/gravel paths and back roads...which kept covering fender-less Lori and her bike in muck.  Her bike would start to make some noise, and her legs and baggage got completely covered.  My back fender protected me well.  As we got closer to the end, we stopped at 3 separate water spigots to wash off (while the rain continued).  Each time we stopped we were on the pavement, and we figured we might be close enough to town to just have pavement remaining...but no, the path kept changing between pavement and dirt.  Of course, the worst maintained section of the day - the muddiest with big unavoidable puddles - was closest to town.  But fortunately, the third wash was on the final pavement!  Some other fenderless touring folks saw what we were doing and pulled over to copy us.  
<p>
Finally got into town and were so soaked that my Garmin was not letting me use the touch screen (helpful to zoom and pan on the map!) and my phone was not into working right either - ghost clicks or no clicks, and no swipes.  Tried with and without the soaking gloves, no love.   However, Hero Lori managed to route us past 4 grocery stores (all closed for the holiday) and finally to the apartment where we warmed up and have everything hanging to dry.
<p>
Thankfully the route was nice even if we struggled to appreciate the latter part of it in the rain!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
