
---
import Layout from '../../components/Layout.astro';
---

<Layout title="Into and around Zadar">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>Into and around Zadar</h1>
        <h2>
           ...the oldest city I've ever experienced.
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 47 mi
<br>
Climbing: 2690 feet
<br>
Descending: similar
<br>
Difficulty: hard
<br>
<a href="https://www.strava.com/activities/18661144522">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/J24SkNa6vuNRuvWj6">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
I was hoping to beat the heat and the traffic, but we've not been great at setting out very early.  This is supposed to be a fun vacation as much as a bike tour so playing it super businesslike and getting up early and hurrying are not really happening on this trip, for the most part.  Thus, we found ourselves moving by 9 and called it good enough.
<p>
We'd abandoned our plan to ride the trail we'd started out on since the gravel roads were just too chunky and climb-y and unpredictable for our bikes, so we'd routed as much as possible on pavement near sea level for this day.  While there were no climbs over a few hundred feet planned, you know what they say about the best laid plans...
<p>
Of course the road from Sv. Duh to Bosana - our planned escape route from the highway and also avoiding crossing the main ridgeline of the island we were on - was closed, so instead we rode the highway nearly the whole long hot way into Zadar (pronounced ZAH dar). 
<p>
The reroute had taken us further and higher (up, down, and then back up) than intended, and so we stopped for a cooling beverage at mile 18 or so in the town of Pag.  It helped, but the heat wasn't any less by the time we started rolling again around 11am. Non-weekend traffic was mostly kind but a couple of close passes and the relentless heat had us down a little by lunchtime. As we ate at mile 34 in the 90+ degree heat, we saw 2 other touring cyclists whom we later passed back, and exchanged jubilant thumbs up with.  We had stopped for lunch around 12:30 at one of the few restaurants in this stretch of travel, and the food and service were lackluster and I was ready to be at our destination but we still had miles of moderately busy road riding in the hottest part of the day to contend with.
<p>
Nonetheless, we made reasonably quick time for that 15 (save for rush hour shenanigans in the last bit) into the oldest town I've ever been to - continuously populated since 9th century BCE! We're staying right on a historic square inside the old castle walls, in the ancient part of the city.  There is history all around - Romain ruins, medieval ruins, venizian ruins, etc - and we took a fun walking tour of the area with a native on a rest day and learned and saw even more.  Funny enough, our apartment is in a building with one of the largest still-standing pieces of roman architecture...a piece of its side wall. (There have been earthquakes and many wars that have basically leveled the town a few times since the Romans so most of what remains is very short, or reconstructed).
<p>
We've eaten well here and tomorrow we have a couple of ferries and some good miles towards Split to make up.  Yeehaw!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
