---
import Layout from '../../components/Layout.astro';
---

<Layout title="A long haul into Fresno">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>A long haul into Fresno</h1>
        <h2>
           The legs said yes and the butt is not speaking to me.
        </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 100 mi
<br>
Climbing: 1296 feet
<br>
Descending: similar
<br>
Difficulty: hard (length; terrain and weather were great!)
<br>
<a href="https://www.strava.com/activities/16389215714">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/kdARPcbmBMw98U7k8">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
The sun was with me all day; I have sunburned thighs. These emergency-shopped shorts are a couple inches shorter than my usual, and I rarely put sunscreen on my legs.  Guess tomorrow I'll remember it!
<p>
Said goodbye to the feral cat friends after having some protein-powder-enhanced oatmeal for breakfast, and retraced my steps into the campground for several miles before I started making new progress southeast - fortunately the same direction the wind was blowing (and fortunately this remained the case all day long)
<p>
Still, got some good trails in Merced which is always a pleasure after miles and miles of straight ol Avenue 26 and Road 19.
Rolled through Merced in time for lunch - and then had second lunch in Madera.  This ended up being the longest single-day fully loaded ride I've signed up for in memory.  I could have stopped at 2/3 - Madera is a town with many hotels that was my planned spot: check-in, consider-the-time-and-energy, and then make the call.  So I stopped for a late lunch and the milkshake power convinced me to carry on. Today, my butt kinda hates me, but the legs are fine and I'm taking a day mostly off the bike, so hopefully the rest will be healing.  I feel like my monthly 200k's have gotten me in the shape that this was even possible and not ill-advised...
<p>
All day long, I made good time on mostly good to great roads.  Only about half of the roads out of the campground and into Fresno were planned by the route creator, the rest I built off of heatmaps and hope with RidewithGPS and things were pretty fine.  Probably about 10 might-have-preferred-better miles but really only a mile or two of yikes.  And half of that was in Fresno where they like to end the bike lane a block or two before the intersection and not resume it until a block or two after.  Only on busy streets, of course.  But it's an unwelcome pinch point...
<p>
Today's road closure was about 50 feet long and I gambled and won as I could walk around it and there was no active work in progress.  WHEW.
<p>
Got to bike into Fresno on some dirt trails right at the golden hour - sunset underbiking for the win!  Pulled into my hostel around 6 but it was almost fully dark already...daylight savings has really taken away some easier time on the road!
<p>
Took a day to recover here - doing some laundry, art museum and library visit and firming up next few days' plans while I eat my way across town, or at least the little district I'm staying in which is cute and trendy.
<p>
Tomorrow, south again!
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
