
---
import Layout from '../../components/Layout.astro';
---

<Layout title="On down the valley">
	<main>
    <svg id="background" width='1728' height='1235' viewBox="0 0 1728 1235" fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.75' filter='url(#filter0_f_39_143)'><circle cy='1000' r='264' fill='url(#paint0_linear_39_143)'/></g><g opacity='0.65' filter='url(#filter1_f_39_143)'><circle cx='1720' cy='264' r='379' fill='url(#paint1_linear_39_143)'/></g><defs><filter id='filter0_f_39_143' x='-485' y='515' width='970' height='970' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><filter id='filter1_f_39_143' x='1120' y='-336' width='1200' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'><feFlood flood-opacity='0' result='BackgroundImageFix'/><feBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/><feGaussianBlur stdDeviation='110.5' result='effect1_foregroundBlur_39_143'/></filter><linearGradient id='paint0_linear_39_143' x1='196.5' y1='902' x2='-2.55853e-05' y2='1264' gradientUnits='userSpaceOnUse'><stop stop-color="var(--bttm-left-blur-1)"/><stop offset='1' stop-color="var(--bttm-left-blur-2)"/></linearGradient><linearGradient id='paint1_linear_39_143' x1='1720' y1='-115' x2='1720' y2='643' gradientUnits='userSpaceOnUse'><stop stop-color="var(--top-right-blur-1)"/><stop offset='1' stop-color="var(--top-right-blur-2)" /></linearGradient></defs></svg>     
    <div id="content">
      <div class="header">
        <h1>On down the valley</h1>
        <h2>
           some more foothill foreplay       </h2>
      </div>
<h3>Ride Summary</h3>
Distance: 53 mi
<br>
Climbing: 738 feet
<br>
Descending: similar
<br>
Difficulty: fairly easy but felt tedious
<br>
<a href="https://www.strava.com/activities/16419244384">Link to workout in Strava</a>
<hr>
<a href="https://photos.app.goo.gl/kdARPcbmBMw98U7k8">Link to photo gallery from this trip</a> - sorry, I won't be able to link individual photos in these posts!
<hr>
<p>
More dog chases in the past 2 days than in the past year!  no successful ones (from the dog point of view).  
<p>
Lollygagged for a fair while this morning knowing that today was shorter in miles and suspecting that there wouldn't be a ton to do out at the campground, which is 8ish miles out of town.  Then had second disappointing breakfast at Mcdonalds (first disappointing breakfast was toast and coffee at the hotel).  Snacked my way towards the last town of the day that was restaurant sized, Earlimart.  Ate Mcdonalds again there and discovered frozen coke (mmm) but also somehow ended up ordering 10 churros from a food cart across from mcdonalds and they were amazing and so that was dessert and dinner.
<p>
Got to the campground just before 4 to find out that the visitor center for the state park closed at 4...and supposedly so did the showers.  I opted for the shower which was unnecessary since the showers never closed but the visitor center sure did.  Still, this is the site of an old town and there are historic or recreation buildings all over with placards so I took ye olde self-guided tour by bike as I ate churros, after I showered.
<p>Now I might go get tenty at 6pm just to mosquitoavoid?
<p>
    </div>

</main>
<center>You can email me:  gently at gmail.com</center>
</Layout>
